<p>mega-millions works!</p>

<div class="row">

    <div class="col-sm-8 col-md-8" style="background-color: aqua;">
        <div class="container">
            <!---Play Jogo------------------------------------------>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">1</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">2</button>
            </div>

            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">3</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">4</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">5</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">6</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">7</button>
            </div>

            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">8</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">9</button>
            </div>

            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">10</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">11</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">12</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">13</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">14</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">15</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">16</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">17</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">18</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">19</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">20</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">21</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">22</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">23</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">24</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">25</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">26</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">27</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">28</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">29</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">30</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">31</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">32</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">33</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">34</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">35</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">36</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">37</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">38</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">39</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">40</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">41</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">42</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">43</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">44</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">45</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">46</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">47</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">48</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">49</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">50</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">51</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">52</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">53</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">54</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">55</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">56</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">57</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">58</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">59</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">60</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">61</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">62</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">63</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">64</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">65</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">66</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">67</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">68</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">69</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">70</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">71</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">72</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">73</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">74</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">75</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">76</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">77</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">78</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">79</button></div>
            <div class="clearfix"></div>
            <hr>
            <!-- cartela de 21-->
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">1</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">2</button>
            </div>

            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">3</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">4</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">5</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">6</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">7</button>
            </div>

            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">8</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">9</button>
            </div>

            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">10</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">11</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary btn-rundeg">12</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">13</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">14</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">15</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">16</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">17</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">18</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">19</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">20</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">21</button></div>
            <div class="clearfix"></div>
            <hr>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">09</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">70</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">15</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">12</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">17</button></div>
            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">19</button></div>
            <button type="button" class="btn btn-primary btn-lg btn-block">Play</button>
            <div class="clearfix"></div>
            <!------------------Pending Tickets------------------------------------->
            <hr>
            <h6>Pending Tickets</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>Remove</th>
                        <!-- <th scope="col">Date</th> -->
                        <th>Numbers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td colspan="1"><button class="btn btn-secondary"><i class="fa fa-trash"></i> Remove</button></td>
                        <!-- <td>{{today | date: 'dd/MM/yyyy'}}</td> -->
                        <td colspan="2">
                            <span class="badge badge-dark">Dark</span>
                            <span class="badge badge-dark">Dark</span>
                            <span class="badge badge-dark">Dark</span>
                            <span class="badge badge-dark">Dark</span>
                            <span class="badge badge-dark">Dark</span>
                            <span class="badge badge-dark">Dark</span>
                            <!-- <div class="btn-group" role="group" aria-label="Third group"><span class="btn btn-secondary ">09</span></div>
                            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary ">70</button></div>
                            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary ">15</button></div>
                            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary ">12</button></div>
                            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary">17</button></div>
                            <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary ">19</button></div> -->
                        </td>
                    </tr>

                </tbody>
            </table>
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item"><button class="btn btn-secondary"><i class="fa fa-trash"></i> Remove</button></li>
                <li class="list-group-item">{{today | date: 'dd/MM/yyyy'}}</li>
                <li class="list-group-item">
                    <button class="btn btn-secondary"><i class="fa fa-trash"></i></button>
                    <span class="badge badge-dark sr-only">9Dark</span>
                    <span class="badge badge-dark">Dark</span>
                    <span class="badge badge-dark">Dark</span>
                    <span class="badge badge-dark">Dark</span>
                    <span class="badge badge-dark">Dark</span>
                    <span class="badge badge-dark">Dark</span>
                    <!-- <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary ">09</button></div>
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary ">70</button></div>
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary ">15</button></div>
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary ">12</button></div>
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary">17</button></div>
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary ">19</button></div> -->

                </li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-primary">
                      <i class="fa fa-trash"></i>
                    Profile <span class="badge badge-light">9</span>
                    <span class="sr-only">unread messages</span>
                    <span class="badge badge-dark">Dark</span>
                    <span class="badge badge-dark">Dark</span>
                    <span class="badge badge-dark">Dark</span>
                    <span class="badge badge-dark">Dark</span>
                    <span class="badge badge-dark">Dark</span>
                  </button>
                </li>
            </ul>
            <button type="button" class="btn btn-primary btn-lg btn-block">
              <i class="fa fa-trash"></i>
            Profile <span class="badge badge-light">9</span>
            <span class="sr-only">unread messages</span>
            <span class="badge badge-dark">Dark</span>
            <span class="badge badge-dark">Dark</span>
            <span class="badge badge-dark">Dark</span>
            <span class="badge badge-dark">Dark</span>
            <span class="badge badge-dark">Dark</span>
          </button>
            <div class="clearfix"></div>
            <hr>
            <h3><span class="badge badge-secondary">Total:$5,00</span></h3>

            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#ConfirmJogo">Confirm</button>

            <!-- <ul class="list-group-horizontal-sm">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">09</button></div>
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">70</button></div>
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">15</button></div>
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">12</button></div>
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">17</button></div>
                    <div class="btn-group" role="group" aria-label="Third group"><button type="button" class="btn btn-secondary btn-rundeg">19</button></div>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dapibus ac facilisis in
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Morbi leo risus
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul> -->
            <!--Confirm Modal------------------------->

            <div class="modal fade" id="ConfirmJogo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm game</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                            <form [hidden]="!Edited">
                                <div class="form-group">
                                    <label for="name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="LastName" class="col-form-label">Last Name:</label>
                                    <input type="text" class="form-control" id="LastName">
                                </div>
                                <div class="form-group">
                                    <label for="Phone" class="col-form-label">Phone:</label>
                                    <input type="tel" class="form-control" id="Phone">
                                </div>

                            </form>

                            <div class="modal-footer" [hidden]="!Edited">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" (click)="ConfirmGame()">Ok</button>
                            </div>

                            <!--Pay Body-->
                            <form id="payForms" [hidden]="Edited">
                                <div class="form-group">
                                    <label for="cardNumber" class="col-form-label">Card Number:</label>
                                    <input type="text" class="form-control" id="cardNumber">
                                </div>
                                <div class="form-group">
                                    <label for="NameCard" class="col-form-label">Card Name:</label>
                                    <input type="text" class="form-control" id="NameCard">
                                </div>
                                <div class="form-inline">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="DtExpired " class="col-form-label ">Date Valid:</label>
                                            <input type="date" class="form-control " id="DtExpired ">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="">
                                            <label for="cardCode " class="col-form-label ">Code:</label>
                                            <input type="text" class="form-control " id="cardCode ">
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="modal-footer" [hidden]="Edited ">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Payment</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4" style="background-color:red;">
        <div class="container">
            Latest Lottery Results
        </div>
    </div>
</div>